.qustion-div{
    margin-left: 50%;
    transform: translateX(-50%);
    box-shadow: 2px 2px 0.5px 0.5px rgb(193, 193, 193);
}
.main-questinos{
    /* background-color: red; */
    height: 100vh;
    overflow: scroll;
    padding: 10px;
    margin: 10px;
}
.buttonDivList{
    height: 40px;
    width: 350px;
    background-color: rgb(251, 99, 28);
    border-radius: 10;
    border-width: 2px;
    border-color: aliceblue;
    font-weight: bold;
    font-size: 15px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    color: white;
}